
<div class="div section">
    <div class="p lead">Innovation Hub</div>
    <h3 class="fas fa-user"></h3>
</div>
<div class="div divider"></div>
<div class="div section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>Sign in with Google
    </a>
</div>
